$color-work: #ff8b64;
$color-play: #56c2e6;
$color-study: #ff5e7c;
$color-exercise: #4bcf83;
$color-social: #7235d1;
$color-self: #f1c75b;
$color-user: #5746ea;
$colorBG: #0d1323;
$colorBGComponent: #1d204b;
$color-text-ligth: #505282;


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }