body {
  background-color: #0d1323;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

.bgwork {
  background-color: #ff8b64;
}

.bgplay {
  background-color: #56c2e6;
}

.bgstudy {
  background-color: #ff5e7c;
}

.bgexercise {
  background-color: #4bcf83;
}

.bgsocial {
  background-color: #7235d1;
}

.bgself {
  background-color: #f1c75b;
}

.cardPrincipal {
  background-color: #1d204b;
  overflow: hidden;
  border-radius: .7em;
  margin: 6em .6em 1.5em .6em;
}

.cardPrincipal .secArriba {
  background-color: #5746ea;
  border-radius: .7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8em;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
}

.cardPrincipal .secArriba img {
  width: 3.4em;
  height: 3.4em;
  border: 3px solid white;
  border-radius: 50%;
  margin-left: 1.5em;
}

.cardPrincipal .secArriba div {
  margin-left: .7em;
}

.cardPrincipal .secArriba div label {
  font-size: .8em;
}

.cardPrincipal .secArriba div p {
  font-size: 1.7em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cardPrincipal .secAbajo {
  color: #505282;
}

.cardPrincipal .secAbajo ul {
  padding-left: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardPrincipal .secAbajo ul li:hover {
  cursor: pointer;
  color: white;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.cardPrincipal .secAbajo ul .timeSelected {
  color: white;
  font-weight: 500;
}

.bgComponent {
  height: 10em;
  width: calc(100% - 1.2em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 1.5em;
  border-radius: 1em;
  margin-left: .6em;
  margin-right: .6em;
  position: relative;
  overflow: hidden;
}

.bgComponent .img-logo {
  position: absolute;
  top: -.2em;
  right: 1.3em;
}

.bgComponent .bgFondo {
  background-color: #1d204b;
  width: 100%;
  height: 80%;
  border-radius: 1em;
  z-index: 2;
}

.bgComponent .bgFondo .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 1.5em 0px 1.5em;
}

.bgComponent .bgFondo .titulo span {
  color: white;
  font-weight: 500;
}

.bgComponent .bgFondo .titulo img:hover {
  cursor: pointer;
  width: 2em;
}

.bgComponent .bgFondo .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #505282;
  margin: .5em 1.5em 1em 1.5em;
}

.bgComponent .bgFondo .info .pre {
  font-size: 2em;
  padding-top: 0px;
  margin-top: 0px;
  color: white;
  font-weight: 300;
}

.bgComponent .bgFondo .info .pos {
  font-size: .8em;
}

@media (min-width: 750px) {
  .componentes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  #app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    margin: 0px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #app .contenedor {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3.5fr;
        grid-template-columns: 1fr 3.5fr;
    -webkit-column-gap: .5em;
            column-gap: .5em;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    max-width: 80%;
  }
  #app .contenedor .cardPrincipal {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #app .contenedor .cardPrincipal .secArriba {
    height: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #app .contenedor .cardPrincipal .secArriba img {
    margin-top: 2em;
  }
  #app .contenedor .cardPrincipal .secArriba .infoName {
    margin-top: 2.4em;
    margin-left: 1.2em;
  }
  #app .contenedor .cardPrincipal .secArriba .infoName p {
    font-size: 2.2em;
  }
  #app .contenedor .cardPrincipal ul {
    display: list-item;
    margin-left: 2em;
  }
  #app .contenedor .cardPrincipal ul li {
    margin-top: 1em;
  }
  #app .contenedor .componentes {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1em;
  }
  #app .contenedor .componentes .bgComponent {
    height: 13em;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  #app .contenedor .componentes .bgComponent .bgFondo .titulo {
    margin-top: .7em;
    margin-bottom: .7em;
  }
  #app .contenedor .componentes .bgComponent .bgFondo .titulo span {
    font-size: .9em;
  }
  #app .contenedor .componentes .bgComponent .bgFondo .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 1.5em;
  }
  #app .contenedor .componentes .bgComponent .bgFondo .info .pre {
    font-size: 2.5em;
  }
  #app .contenedor .componentes .bgComponent .bgFondo .info .pos {
    margin-top: 1em;
  }
  #app .contenedor .componentes .bgComponent .bgFondo:hover {
    background-color: #2d3053;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */