body {
  background-color: #0d1323;
  font-family: 'Rubik', sans-serif;
}

.bgwork {
  background-color: #ff8b64;
}

.bgplay {
  background-color: #56c2e6;
}

.bgstudy {
  background-color: #ff5e7c;
}

.bgexercise {
  background-color: #4bcf83;
}

.bgsocial {
  background-color: #7235d1;
}

.bgself {
  background-color: #f1c75b;
}

.cardPrincipal {
  background-color: #1d204b;
  overflow: hidden;
  border-radius: .7em;
  margin: 6em .6em .5em .6em;
}

.cardPrincipal .secArriba {
  background-color: #5746ea;
  border-radius: .7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8em;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
}

.cardPrincipal .secArriba img {
  width: 3.4em;
  height: 3.4em;
  border: 3px solid white;
  border-radius: 50%;
  margin-left: 1.5em;
}

.cardPrincipal .secArriba div {
  margin-left: .7em;
}

.cardPrincipal .secArriba div label {
  font-size: .8em;
}

.cardPrincipal .secArriba div p {
  font-size: 1.7em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cardPrincipal .secAbajo {
  color: #505282;
}

.cardPrincipal .secAbajo ul {
  padding-left: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardPrincipal .secAbajo ul li:hover {
  cursor: pointer;
  color: white;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.cardPrincipal .secAbajo ul .timeSelected {
  color: white;
  font-weight: 500;
}

.bgComponent {
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 1.5em;
  border-radius: 1em;
  margin-left: .6em;
  margin-right: .6em;
  position: relative;
  overflow: hidden;
}

.bgComponent .img-logo {
  position: absolute;
  top: -.2em;
  right: 1.3em;
}

.bgComponent .bgFondo {
  background-color: #1d204b;
  width: 100%;
  height: 73%;
  border-radius: 1em;
  z-index: 2;
}

.bgComponent .bgFondo .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 1.5em 0px 1.5em;
}

.bgComponent .bgFondo .titulo span {
  color: white;
  font-weight: 500;
}

.bgComponent .bgFondo .titulo img:hover {
  cursor: pointer;
  width: 2em;
}

.bgComponent .bgFondo .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #505282;
  margin: 0px 1.5em 1em 1.5em;
}

.bgComponent .bgFondo .info .pre {
  font-size: 2.5em;
  padding-top: 0px;
  margin-top: 0px;
  color: white;
  font-weight: 300;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */