$color-work: #ff8b64;
$color-play: #56c2e6;
$color-study: #ff5e7c;
$color-exercise: #4bcf83;
$color-social: #7235d1;
$color-self: #f1c75b;
$color-user: #5746ea;
$colorBG: #0d1323;
$colorBGComponent: #1d204b;
$color-text-ligth: #505282;

body {
    background-color: $colorBG;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}
.bgwork {
    background-color: $color-work;
}
.bgplay {
    background-color: $color-play;
}
.bgstudy {
    background-color: $color-study;
}
.bgexercise {
    background-color: $color-exercise;
}
.bgsocial {
    background-color: $color-social;
}
.bgself {
    background-color: $color-self;
}

.cardPrincipal {
    background-color: $colorBGComponent;
    overflow: hidden;
    border-radius: .7em;
    margin: 6em .6em 1.5em .6em;
    .secArriba {
        background-color: $color-user;
        border-radius: .7em;
        display: flex;
        align-items: center;
        height: 8em;
        color: rgba($color: white, $alpha: .9);
        font-weight: 300;
        img{
            width: 3.4em;
            height: 3.4em;
            border: 3px solid white;
            border-radius: 50%;
            margin-left: 1.5em;
        }
        div {
            margin-left: .7em;
            label {
                font-size: .8em;
            }
            p {
                font-size: 1.7em;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }
    .secAbajo {
        color: $color-text-ligth;
        ul {
            padding-left: 0px;
            list-style: none;
            display: flex;
            height: 2em;
            justify-content:space-around;
            align-items: center;
            li {
                &:hover {
                    cursor: pointer;
                    color: white;
                    transition: all ease .5s;
                }
            }
            .timeSelected {
                color: white;
                font-weight: 500;
            }
        }
    }
}
.bgComponent {
    height: 10em;
    width: calc(100% - 1.2em);
    display: flex;
    align-items: flex-end;
    margin-bottom: 1.5em;
    border-radius: 1em;
    margin-left: .6em;
    margin-right: .6em;
    position: relative;
    overflow: hidden;
    .img-logo {
        position: absolute;
        top: -.2em;
        right: 1.3em;
    }
    .bgFondo {
        background-color: $colorBGComponent;
        width: 100%;
        height: 80%;
        border-radius: 1em;
        z-index: 2;
        .titulo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2em 1.5em 0px 1.5em;
            span {
                color: white;
                font-weight: 500;
            }
            img {
                &:hover {
                    cursor: pointer;
                    width: 2em;
                }
            }
        }
        .info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $color-text-ligth;
            margin: .5em 1.5em 1em 1.5em;
            .pre {
                font-size: 2em;
                padding-top: 0px;
                margin-top: 0px;
                color: white;
                font-weight: 300;
            }
            .pos {
                font-size: .8em;
            }
        }
    }
}
@media (min-width: 750px) {
    .componentes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1000px) {
    #app {
        display: flex;
        height: 100vh;
        margin: 0px auto;
        align-items: center;
        justify-content: center;
        .contenedor {
            display: grid;
            grid-template-columns: 1fr 3.5fr;
            column-gap: .5em;
            align-items: stretch;
            max-width: 80%;
            .cardPrincipal{
                margin-top: 0px;
                margin-bottom: 0px;
                .secArriba {
                    height: 70%;
                    flex-direction: column;
                    align-items: flex-start;
                    img {
                        margin-top: 2em;
                    }
                    .infoName {
                        margin-top: 2.4em;
                        margin-left: 1.2em;
                        p {
                            font-size: 2.2em;
                        }
                    }
                }
                ul {
                    display: list-item;
                    margin-left: 2em;
                    li {
                        margin-top: 1em;
                    }
                }
            }
            .componentes{
                grid-template-columns: 1fr 1fr 1fr;
                row-gap: 1em;
                .bgComponent {
                    height: 13em;
                    margin-bottom: 0px;
                    margin-left: 0px;
                    margin-right: 0px;
                    .bgFondo {
                        .titulo {
                            margin-top: .7em;
                            margin-bottom: .7em;
                            span {
                                font-size: .9em;
                            }
                        }
                        .info {
                            flex-direction: column;
                            align-items: flex-start;
                            margin-top: 1.5em;
                            .pre {
                                font-size: 2.5em;
                            }
                            .pos {
                                margin-top: 1em;
                            }
                        }
                        &:hover {
                            background-color: #2d3053;
                            transition: all ease .3s;
                        }
                    }
                }
            }
        }
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }